.services {
  margin: 40px auto;
}
.services h2 {
  font-size: 36px;
  font-weight: 700;
}

.services h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 2em;
}

.services p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 1em;
}
