.accordion {
  width: 80%;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  line-height: 1.3;
}
button {
  border: none;
  background-color: white;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  color: #301515;
}

.number {
  color: #ced4da;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #301515;
}

.hidden-box {
  grid-column: 2;
  /* display: ; */
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #301515;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hidden-box-none {
  display: none;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #301515;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #301515;
}
