.carousel img {
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  display: block;

  margin: 30px auto;
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #301515;
}
